# Disable Samsung anti-root protection
CONFIG_UH=n
CONFIG_RKP=n
CONFIG_RKP_FIMC_CHECK=n
CONFIG_KDP=n
CONFIG_KDP_CRED=n
CONFIG_KDP_NS=n
CONFIG_KNOX_NCM=n
CONFIG_KPERFMON=n
CONFIG_KPERFMON_BUILD=n
CONFIG_INTEGRITY=n
CONFIG_INTEGRITY_SIGNATURE=n
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=n
CONFIG_INTEGRITY_TRUSTED_KEYRING=n
CONFIG_INTEGRITY_AUDIT=n
CONFIG_SECURITY_DEFEX=n
CONFIG_DEFEX_KERNEL_ONLY=n
CONFIG_SECURITY_DEFEX_USER=n
CONFIG_PROCA=n
CONFIG_PROCA_GKI_10=n
CONFIG_PROCA_S_OS=n
CONFIG_FIVE=n
CONFIG_FIVE_GKI_10=n
CONFIG_FIVE_CERT_USER=n
CONFIG_FIVE_DEFAULT_HASH_SHA1=n
# CONFIG_FIVE_DEFAULT_HASH_SHA256 is not set
# CONFIG_FIVE_DEFAULT_HASH_SHA512 is not set
CONFIG_FIVE_DEFAULT_HASH=n
CONFIG_FIVE_TRUSTED_KEYRING=n

CONFIG_DM_VERITY_AVB=n
CONFIG_DM_VERITY_FEC=n
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=n

# KernelSU
CONFIG_KSU=y
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_MANUAL_HOOK=y