# Disable Samsung anti-root protection
CONFIG_UH=n
CONFIG_RKP=n
CONFIG_RKP_FIMC_CHECK=n
CONFIG_KDP=n
CONFIG_KDP_CRED=n
CONFIG_KDP_NS=n
CONFIG_SECURITY_DEFEX=n
CONFIG_DEFEX_KERNEL_ONLY=n
CONFIG_SECURITY_DEFEX_USER=n
CONFIG_PROCA=n
CONFIG_FIVE=n
CONFIG_FIVE_GKI_10=n
CONFIG_INTEGRITY=n

# Disable CRYPTO_FIPS
CONFIG_CRYPTO_FIPS=n
CONFIG_EXYNOS_FMP_FIPS=n

# KernelSU
CONFIG_KSU=y
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_MANUAL_HOOK=y